header {
  padding: .5em;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.menu > a {
  padding: 20px 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.menu > a:hover, .menu > a.active {
  color: black;
}

.menu .icon {
  display: none;
}

.logo-title {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.logo-title .title {
  color: white;
  margin-left: 0.9em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .menu > a {
    padding: 20px 5px;
  }
}

@media screen and (max-width: 600px) {
  .menu a {
    display: none;
  }
  .menu a.icon {
    display: block;
  }

  header {
    display: block;
  }
  .menu.responsive {
    position: relative;
    flex-direction: column;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}