body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(rgba(255, 221, 2, .9), rgba(1, 170, 79, .9)), url("/img/background.jpg") no-repeat fixed 50% 0% / cover;
  background-attachment: fixed;
  @apply flex flex-col;
}

html {
  @apply h-full;
}

.main-container {
  height: 100vh;
  margin-top: 20px;
  justify-content: center;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.links a {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  margin: 10px;
}

p {
  @apply mb-4 px-8;
}

.panel-title {
  @apply mb-8 text-center;
}

.panel-info ul li {
  @apply mb-2;
}

.panel-content {
  border-radius: 10px;
  padding: 10px 5px;
}

.panel-info {
  margin: 15px;
}

.panel-info p {
  text-align: justify;
}